# Nomor owner (pake format 62xxx, kalo banyak pisahin pake koma)
OWNER_NUMBERS=628...
PAIRING_NUMBER=628...

# Contoh: PREFIX=. atau PREFIX=.! (kalo mau banyak)
PREFIX=.

# Google AI Studio API Key
GEMINI_API_KEY=your_gemini_api_key_here
# Versi Model contoh gemini-1.5-flash 
GEMINI_MODEL=gemini-2.0-flash

WOLFRAM_APPID=
SERPAPI_KEY=
JEREXD_API_KEY=
PINTEREST_AUTH_COOKIE=
